:root{
  font-family: 'Source Serif Pro', serif;
  background-color: antiquewhite;
}

/*Header Styling*/
#date{
  font-family: 'Dancing Script', cursive;
  font-size: 6vw;
}

#night{
  font-family: 'Rubik Moonrocks';
  font-size: 6vw;
}

#dilemma{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 5vw;
}

.header{
  padding-top: 20px;
  text-align: center;
  background-image: url("images/popcorn2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c5c4b8;
  padding-bottom: 20px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
}

.container{
  border-radius: 25px;
}
.info{
  background-color: rgb(220, 20, 20);
}

article{
  display: table-cell;
  padding: 80px;
  font-size: 20px;
  border: 1rem solid;
  border-color: blue;
  background-color: azure;
}

article:hover{
  background-color: lightcoral;
}

h3{
  font-size: larger;
  color: black;
  font-weight: bolder;
}

p{
  color: dimgrey;
}

#movie-container{
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
}

select{
  margin-left: 50px;
  background-color: rgb(196, 255, 204);
  color: black;
  font-size: large;
  font-weight: bold;
}

select:hover{
  background-color: rgb(255, 45, 45);
}

#genre{
  font-size: larger;
}

main{
  margin-left: 5%;
}

#search{
  position: relative;
  margin-top: 32px;
  margin-left: 140px;
}