:root{
  font-family: 'Source Serif Pro', serif;
  background-color: antiquewhite;
}

main{
  margin-left: 2%;
}
hr{
  border: 2px solid red;
  margin-right: 2%;
}

/*button styling*/
button{
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 2px solid black;
}
button:hover{
  background-color: rgb(253, 255, 143);
}

/*Header Styling*/
#date{
  font-family: 'Dancing Script', cursive;
  font-size: 6vw;
}
#night{
  font-family: 'Rubik Moonrocks';
  font-size: 6vw;
}

#dilemma{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 5vw;
}
.header{
  padding-top: 20px;
  text-align: center;
  background-image: url("images/popcorn2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c5c4b8;
  padding-bottom: 20px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
}

/*hero Styling*/
.hero-body{
  padding: .5rem 3rem;
  background-color: rgb(220, 20, 20);
  text-align: center;
}
.title{
  font-size: large;
}
.subtitle{
  font-size: medium;
}

/*Genre Selection Styling*/
#genre{
  font-size: larger;
}
#search{
  position: relative;
  margin-top: 32px;
  margin-left: 140px;
}

/*Random Movie Styling*/
article{
  display: table-cell;
  padding: 2vw;
  font-size: 20px;
  border: 1rem solid;
  border-color: rgb(236, 209, 56);
  background-color: rgb(255, 255, 255);
  max-height: 2px;
}
article:hover{
  background-color: rgb(255, 244, 147);
}
h3{
  font-size: larger;
  color: black;
  font-weight: bolder;
}
p{
  color: rgb(75, 74, 74);
}
#movie-container{
  max-width: 1000px;
  margin:auto
}
select{
  margin-left: 50px;
  font-size: large;
  font-weight: bold;
}
select:hover{
  background-color: rgb(255, 45, 45);
}

/*watchlist styling*/
.nextMovie{
  font-size: large;
  color: black;
}
legend{
  color: black;
  font-size: large;
  font-weight: bold;
}

/* Recipe Styling*/
h2{
  font-weight: bold;
  font-size: larger;
  color: rgb(0, 0, 0);
}
li{
  color: rgb(58, 58, 58);
  margin-left: 5%;
}
img{
  max-width: 600px;
  max-height: 600px;
}

li::marker{
  color: black;
}